export(ampl.make.dat.file)
export(ampl.make.run.file)
export(ampl.run.local)
export(ampl.run.neos)
export(fast_str_split_fixed)
export(get.ampl.local.options)
export(get.ampl.neos.options)
export(init.rampl)
export(neos.ampl.solvers)
